<div style="margin: 50px;">

    <form class="form-inline">
        <div class="form-group">
            <!-- <label for="name">Wiadomość</label> -->
            <input type="text" [(ngModel)]="message" class="form-control" name="name"> <br>
        </div>
        <button (click)="sendMessage()" class="btn btn-primary" type="submit">Send</button>
    </form>

    <div *ngIf="chatMessages">
        <div *ngFor="let chat of chatMessages">
            <span> <span style="font-weight: bolder;">{{ chat.user }}</span> {{ chat.content }}</span>
        </div>
    </div>

</div>