<div class="form-login" *ngIf="!isLogged()">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="email" class="form-label">Email użytkownika</label>
            <input type="text" class="form-control" name="email" ngModel>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Hasło</label>
            <input type="password" class="form-control" name="password" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
    </form>
</div>

<div *ngIf="isLogged()">
    <button class="btn btn-warning" (click)="logout()">Wyloguj się</button>
</div>