<div class="login-box">
    <h5 *ngIf="!starterLoginPage">Zaloguj się aby wprowadzić zmiany</h5>

    <div class="form-login">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="email" class="form-label">Email użytkownika</label>
                <input type="text" class="form-control" name="email" ngModel>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Hasło</label>
                <input type="password" class="form-control" name="password" ngModel>
            </div>

            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </form>
    </div>
</div>

<div *ngIf="isLogged() && starterLoginPage">
    <button class="btn btn-warning" (click)="logout()">Wyloguj się</button>
</div>