<div class="overlay" (click)="onClose()"></div>
<div class="register-modal">

    <div class="form-box" *ngIf="!sendingMail && content">
        <div class="text-center mb-4 font-weight-bold" style="font-size: 22px;">REJESTRACJA</div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">

            <div class="form-group">
                <label for="username" class="font-weight-bold">Nazwa użytkownika:</label>
                <input type="email" class="form-control" name="username" formControlName="username" placeholder="..."
                    required>

                <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                    <div *ngIf="username.hasError('required')">
                        <span>Nazwa użytkownika jest wymagana</span>
                    </div>
                    <div *ngIf="username.hasError('minlength')">
                        <span>Nazwa użytkownika musi mieć minimum 4 znaki</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="font-weight-bold">Email:</label>
                <input type="email" class="form-control" name="email" formControlName="email" placeholder="..."
                    required>

                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    <div *ngIf="email.hasError('required')">
                        <span>Email jest wymagany</span>
                    </div>
                    <div *ngIf="email.hasError('mailExists')">
                        <span>Ten email jest już zajęty</span>
                    </div>
                    <div *ngIf="email.hasError('pattern')">
                        <span>Niepoprawny email</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="font-weight-bold">Hasło:</label>
                <input type="password" class="form-control" name="password" formControlName="password" placeholder="..."
                    required>

                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.hasError('required')">
                        <span>Hasło jest wymagane</span>
                    </div>
                    <div *ngIf="password.hasError('minlength')">
                        <span>Hasło musi mieć minimum 5 znaków</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm" class="font-weight-bold">Powtórz hasło:</label>
                <input type="password" class="form-control" name="confirm" formControlName="confirmPassword"
                    placeholder="..." required>

                <div *ngIf="confirm.touched && confirm.invalid" class="alert alert-danger">
                    <div *ngIf="confirm.hasError('required')">
                        <span>To pole jest wymagane</span>
                    </div>
                    <div *ngIf="confirm.hasError('minlength')">
                        <span>Pole musi mieć minimum 5 znaków</span>
                    </div>
                    <div *ngIf="confirm.hasError('noMatch')">
                        <span>Hasła muszą się zgadzać</span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Zarejestruj mnie</button>
            <button type="button" class="btn btn-outline-danger" (click)="onClose()">Anuluj</button>
        </form>
    </div>

    <div *ngIf="!content && !sendingMail" class="content-text">
        <div>
            Aplikacja jest w fazie testowej i prezentacji. W tej chwili jest ona dostępna dla wszyskich. Dlatego
            rejestrując się, zgadzasz się na to że serwer
            może przestać istnieć, lub twoje konto i dane mogą zostać usunięte w bliżej nie określonym czasie.
            Jesteś także odpowiedzialny za treści jakie wrzucasz. Miłej zabawy ;)
        </div>
        <div class="buttons">
            <div>
                <input [(ngModel)]="checkboxFlag" type="checkbox"><span class="check">Zgoda</span>
            </div>
            <div>
                <button [disabled]="!checkboxFlag" class="btn btn-primary" (click)="confirmContent()">OK</button>
            </div>
        </div>
    </div>

    <div class="registerd-message" *ngIf="sendingMail">
        <p>Wysyłam email</p>
    </div>

</div>