.tab-one {
    position: relative;
    margin: 10px 0;

    .user-tab {
        margin: 0 20px;
    }
    
    .user-span {
        font-size: 18px;
        font-weight: bolder;
    }
    
    .timestamp-span {
        font-size: 13px;
    }

    .delete-button {
        position: absolute;
        bottom: 1px;
        right: 30px;
    }
    
}

.file-view {
    display: inline-block;
    margin: 5px;
}

img {
    width: 300px;
    transition: transform 0.4s;
}

img:hover {
    transform: scale(1.1);
}

video {
    height: 300px;
}