<div class="feed-box">
    <div class="tab-one">
        <span class="user-tab">
            <span class="user-span" [routerLink]="['/user', 'starter', 'user-profile', feed.userUUID]">
                {{ feed.username }}
            </span>
            <span class="timestamp-span">
                ({{ feed.feedTimestamp | time }})
            </span>
        </span>
        <button *ngIf="isTheSameUser()" class="btn btn-outline-danger delete-button" (click)=deleteFeed()>Usuń</button>
    </div>
    <hr>

    <div class="feed-text">
        <p [innerHtml]="feed.text | linkify"></p>
    </div>

    <div>
        <youtube-player *ngFor="let link of ytLinks" [videoId]="link" [height]="250" [width]="250">
        </youtube-player>
    </div>

    <div *ngIf="feed.fileData">
        <app-file-display [fileData]="feed.fileData" [userUUIDEncoded]="userUUIDEncoded" [showDeleteButton]="false"
            [length]="4">
        </app-file-display>
        <div *ngIf="feed.fileData.length > 4" class="more-files">...plus inne dostępne w podglądzie</div>
    </div>

    <app-comments [feed]="feed"></app-comments>
</div>