<div *ngIf="userUUID && user; else empty">
    <p>{{ user.username}}</p>

    <div class="box">

        <div *ngIf="folders" class="folder-block">
            <div>FOLDERY:</div>

            <span *ngFor="let folder of folders">
                <div class="folder" (click)="onFolderClick(folder)">
                    <i class="fas fa-folder-open folder-icon"></i>
                    <span>{{ folder }}</span>
                </div>
                <button *ngIf="_isLoggedUser()" class="btn btn-outline-warning"
                    (click)="deleteFolder(folder)">Usuń</button>
            </span>

        </div>

        <div *ngIf="_isLoggedUser()" class="folder">
            <div (click)="createFolder()">
                <i class="fas fa-folder-plus folder-icon"></i>
                <span>Dodaj folder</span>
            </div>
        </div>

    </div>

</div>

<ng-template #empty>
    <p>Brak użytkownika</p>
</ng-template>