<div class="tab-one">
    <span class="user-tab">
        <span class="user-span" [routerLink]="['/user', 'starter', 'user-profile', feed.userUUID]">
            {{ feed.username }}
        </span>
        <span class="timestamp-span">
            ({{ feed.feedTimestamp | date: 'dd/MM/yyyy, hh:mm' }})
        </span>
    </span>
    <button *ngIf="isTheSameUser()" class="btn btn-outline-danger delete-button" (click)=deleteFeed()>Usuń</button>
</div>

<div class="alert alert-dark">
    <p>{{ feed.text }}</p>
</div>

<div *ngIf="feed.fileData">
    <app-file-display [fileData]="feed.fileData" [userUUIDEncoded]="userUUIDEncoded" [showDeleteButton]="false">
    </app-file-display>
</div>

<div class="comment-section">
    <button class="btn btn-outline-primary" *ngIf="showCommentButton" (click)="loadComments()">Pokaż komentarze</button>

    <div *ngFor="let comment of comments"></div>

    <div>
        <form autocomplete="off" class="form-inline">
            <div class="form-group">
                <input type="text" [(ngModel)]="userComment" class="form-control" name="comment"> <br>
            </div>
            <button (click)="postComment()" class="btn btn-primary" type="submit">Wyślij</button>
        </form>
    </div>
</div>
<hr>