<div>
    <span><span style="cursor: pointer;">{{ feed.username }}</span>
        {{ feed.feedTimestamp | date: 'dd/MM/yyyy, hh:mm' }}</span>
</div>
<div class="alert alert-dark">
    <p>{{ feed.text }}</p>
</div>
<div *ngIf="feed.fileData">
    <div *ngFor="let file of feed.fileData; let i = index">

        <div [ngSwitch]="file.type">
            <div *ngSwitchCase="'image'" class="file-view">
                <img [src]="file.url" [alt]="file.fileName" [title]="file.fileName">
            </div>
            <div *ngSwitchCase="'audio'" class="file-view">
                <audio [src]="file.url" controls="controls" [alt]="file.fileName"></audio>
                <p>{{ file.fileName }}</p>
            </div>
            <div *ngSwitchCase="'video'" class=" file-view">
                <video [src]="file.url" controls="controls" [alt]="file.fileName" [title]="
                    file.fileName"></video>
            </div>
            <div *ngSwitchDefault class="file-view">
                <i class="fas fa-file" style="font-size: 110px;"></i>
                <p>{{ file.fileName }}</p>
            </div>
        </div>

    </div>
</div>
<hr>