<div class="main-feed">

    <div class="user-input">
        <form #feed="ngForm" (ngSubmit)="submit()">

            <div class="form-group">
                <label for="nowy-wpis">Nowy wpis:</label>
                <textarea class="form-control" name="nowy-wpis" rows="7" cols="60" ngModel required
                    maxlength="3000"></textarea>
            </div>
            <div>
                <label>
                    <input type="file" multiple (change)="selectFiles($event)" #filesInput />
                </label>
                <p *ngIf="compressingFiles">KOMPRESUJE!</p>
            </div>

            <button class="btn btn-primary" [disabled]="!feed.valid || compressingFiles">Wyślij</button>
        </form>
    </div>

    <div *ngIf="feedData" class="feed-border">
        <app-feed *ngFor="let feed of feedData" [feed]=feed></app-feed>
    </div>

    <div #ob></div>
</div>