.main-feed {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // background: whitesmoke;

    .user-input {
        margin-bottom: 30px;
    }

    .feed-border {
        width: 85%;
    }
}

textarea {
    resize: none;
}