<div *ngIf="token" style="text-align: center;">
    <p>Wysyłam hasło na twój email.</p>
    <p *ngIf="isTokenSend">Wysłano nowe hasło na twój email</p>
</div>

<div *ngIf="!token" class="window">
    <div class="reset">
        <form #resetForm="ngForm" (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="email" class="form-label">Podaj swój email: </label>
                <input type="text" class="form-control" name="email" #email="ngModel" ngModel required
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        Pole wymagane
                    </div>
                    <div *ngIf="email.errors.pattern">
                        Niepoprawny email
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Wyślij</button>
            <button class="btn btn-primary" (click)="goBack()"> Wróć</button>
        </form>
    </div>

    <div *ngIf="sendingMail">
        Wysyłam
    </div>
</div>