<div class="chat-header">korytko</div>
<div class="chat-box">
    <div class="chat-window" #overflow>
        <div *ngIf="chatMessages" class="messages">
            <span #observed></span>
            <div *ngFor="let chat of chatMessages"
                [ngClass]="{'my-message': chatBallonClass(chat.userUUID), 'message': !chatBallonClass(chat.userUUID)}">
                <span class="username">{{ chat.username }} </span>
                <span class="time">({{ chat.timestamp | time }})</span><br>
                <app-public-chat-comment [content]="chat.content"></app-public-chat-comment>
            </div>
            <span #scroll></span>
        </div>

        <div *ngIf="isLoading" class="spinner">
            <app-spinner></app-spinner>
        </div>
    </div>

    <form autocomplete="off" class="form-inline chat-input">
        <div class="form-group">
            <input type="text" [(ngModel)]="message" class="form-control" name="name" required maxlength="255"> <br>
        </div>
        <button (click)="sendMessage()" class="btn btn-primary" type="submit">Wyślij</button>
    </form>
</div>