.user-main-window { 

    .inner-window {
        display: grid;
        grid-template-columns: 1fr 0fr 10fr 1fr;
    }

    .list-left {
        margin: 20px;

        div {
            margin: 10px 0;
        }

        .list-link {
            cursor: pointer;
        }
    }

    .main-router { 
        top: 50px;
    }
}