<div *ngIf="userUUID && user; else empty" class="profile-box">
    <app-profile-head [user]="user"></app-profile-head>

    <div>
        <p *ngIf="_isLoggedUser()">
            <span>Zajęte miejsce:</span>
            <span class="storage-space">{{ user.storageSize | number: '1.0-2'}} %</span>
        </p>

        <div>FOLDERY:</div>
        <div *ngIf="folders" class="row">

            <div *ngFor="let folder of folders" class="col">
                <div class="folder" (click)="onFolderClick(folder)">
                    <i class="fas fa-folder-open folder-icon"></i>
                    <div>{{ folder }}</div>
                </div>
                <button *ngIf="_isLoggedUser()" class="btn btn-outline-secondary"
                    (click)="deleteFolder(folder)">Usuń</button>
            </div>

        </div>

        <div *ngIf="_isLoggedUser()" class="folder">
            <div (click)="createFolder()">
                <i class="fas fa-folder-plus folder-icon"></i>
                <span>Dodaj folder</span>
            </div>
        </div>

    </div>

</div>

<ng-template #empty>
    <p>Brak użytkownika</p>
</ng-template>