.open {
    display: none;
}

.chat-window {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgba(0, 0, 0, 0.151);
    border-left: 1px solid rgba(0, 0, 0, 0.151);
    border-right: 1px solid rgba(0, 0, 0, 0.151);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .top {
        margin: 4px 10px;
        font-weight: 600;
    }

    .bar {
        margin: 2px 5px;
        height: 1px;
        border-radius: 10px;
        background-color: rgb(75, 77, 192);
    }

    .inner-window {
        margin: 0 5px;
        padding: 0 10px;
        height: 350px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        overflow: auto;

        .username {
            font-weight: bolder;
        }

        .time {
            font-size: 11px;
        }
    }

    form {
        margin-left: 10px;
        margin-top: 6px;
        margin-bottom: 6px;

        input {
            width: 320px;
        }
    }
}


.closed-bar {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 300px;
    height: 35px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(0, 0, 0, 0.445);
    cursor: pointer;
}

.open-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 30px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color .3s;
}

.open-close:hover {
    background-color: #0560c2;
}

.fa-envelope {
    margin: 2px 10px;
    font-size: 24px;
    color: crimson;
}