<div class="row files">
    <div *ngFor="let file of fileData | slice:0:length; let i = index" class="col-12 col-md-6 col-xl-4">

        <div [ngSwitch]="file.type" class="file-view">
            <div *ngSwitchCase="'image'">
                <img [src]=" file.url" [alt]="file.fileName" [title]="file.fileName" (click)="clickFile(i)"
                    class="file">
            </div>
            <div *ngSwitchCase="'audio'">
                <audio [src]="file.url" controls="controls" [alt]="file.fileName" (click)="clickFile(i)"
                    class="file"></audio>
                <p>{{ file.fileName.slice(0,28) }}</p>
            </div>
            <div *ngSwitchCase="'video'">
                <video [src]="file.url" controls="controls" [alt]="file.fileName" [title]="file.fileName"
                    (click)="clickFile(i)" class="file"></video>
            </div>
            <div *ngSwitchDefault>
                <span class="file">
                    <i class="fas fa-file" style="font-size: 110px;" (click)="clickFile(i)"></i>
                </span>
                <p>{{ file.fileName.slice(0,28) }}</p>
            </div>
        </div>
        <button *ngIf="_isLoggedUser() && showDeleteButton" (click)="deleteFile(file.fileName)"
            class="btn btn-outline-secondary">Usuń</button>

    </div>
</div>


<app-lightbox-viewer *ngIf="selectedFile" [selectedFile]="selectedFile" (closeLightbox)="closeLightbox()"
    (previousFile)="previous()" (nextFile)="next()">
</app-lightbox-viewer>