<div *ngIf="userUUID && folder" class="files-tab">

    <app-file-upload *ngIf="_isLoggedUser()" [folder]="folder" [userUUID]="userUUID">
    </app-file-upload>

    <button class="btn btn-outline-primary" (click)="return()">Wróć</button>

    <div>
        <div *ngIf="fileData">
            <app-file-display [fileData]="fileData" [userUUID]="userUUID" [folder]="folder" [showDeleteButton]="true"
                [length]="fileData.length" (reload)="_reloadFolder()">
            </app-file-display>
        </div>
    </div>
    <div #observed></div>
</div>

<div *ngIf="isLoading" class="files-tab spinner">
    <app-spinner></app-spinner>
</div>